<div class="wrapper wrapper-content">
<div class="row animated fadeInDown">
    <div class="col-lg-3">
        <div class="ibox float-e-margins">
<!--             <div class="ibox-title">
                <h3>Offers</h3>
                <div class="ibox-tools">

                </div>
            </div> -->
            <div class="ibox-content">
                <div id='external-events'>
                    <h2>Offers</h2>
                    <p>Drag an offer onto the calendar.</p>
                    <div class='external-event navy-bg drag-element' style='background-color:#9CE3B4;' data-event='{"backgroundColor":"red"}'>35%</div>
                    <div class='external-event navy-bg drag-element' style='background-color:#8ADFAC;'>40%</div>
                    <div class='external-event navy-bg drag-element' style='background-color:#28B465;'>45%</div>
                    <div class='external-event navy-bg drag-element' style='background-color:#219B50;'>50%</div>
                    <div class='external-event navy-bg drag-element' style='background-color:#10793F;'>55%</div>
                    <div class='external-event navy-bg drag-element' style='background-color:#255335;'>60%</div>
                </div>
            </div>
        </div>
        <div class="ibox float-e-margins" id="edit-offer-box">
            <div class="ibox-content">
                <h2>Edit Offer</h2>
                <p id='event-description'></p>

                <form>
                    <div class="form-group">
                            <label for="discountInput control-label">Discount</label>
                            <input type="text" class="string form-control" id="discountInput">
                    </div>
                    <div class="form-group">
                            <label for="numCoversInput control-label"># covers</label>
                            <input type="text" class="string form-control" id="numCoversInput">
                    </div>
                </form>

                <div class="row zero-margin">
                    <button type="Submit" id="btn-save-offer" class="btn btn-primary m-t-sm ">Update</button>
                    <button type="Submit" id="btn-delete" class="btn btn-default m-t-sm">Delete</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-9">
        <div class="ibox float-e-margins">
<!--             <div class="ibox-title">
                <h5>Striped Table </h5>
            </div> -->
            <div class="ibox-content">
                <div id="calendar"></div>
                <button type="Submit" id="btn-save" class="btn btn-primary block m-t-sm">Save</button>
            </div>
        </div>
    </div>
</div>
</div>


