<div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
      <div class="col-lg-12">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Photo</h5>
            </div>
            <div class="ibox-content">

			<%= image_tag @photo.image_url.to_s, class: 'img-responsive' %>
			<%= link_to 'Edit', edit_photo_path(@photo) %> |
			<%= link_to 'Back', photos_path %>
			</div>
        </div>
      </div>
    </div>
</div>