<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>" style="margin-top:15px;margin-bottom:5px;">
    <a href="#" data-dismiss="alert" class="close">×</a>
      <ul style="list-style-type: none; padding: 0;">
        <li>
          <%= value %>
        </li>
      </ul>
  </div>
<% end %>