<div class="row border-bottom">
    <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li>
<div class="dropdown profile-element">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="m-t-xs text-muted">
                                <%= current_user.email %><b class="caret"></b>
                            </span>
                        </span>
                    </a>
                    <ul class="dropdown-menu m-t-xs">
                        <li><%= link_to "My profile", edit_user_registration_path %></li>
                        <li><%= link_to "Log out", destroy_user_session_path, :method=>'delete' %></li>
                    </ul>
                </div>
                <div class="logo-element">
                    PS
                </div>
            </li>
        </ul>
    </nav>
</div>